:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--light-text);
  --light-text: rgba(255, 255, 255, 0.87);
  --backgroundColor: rgb(24, 24, 24);
  --icon: rgb(153, 0, 107);
  --header-bg: rgb(47, 32, 65);
  --product-bg: rgb(99, 92, 109);
  --cart-bg: rgb(81, 65, 98);
  --product-text:  rgba(255, 255, 255, 0.87);
  --qnt-text: rgb(99, 92, 109);
  --crsl-hover:  rgb(239, 215, 215);
  --crsl-color: rgb(161, 149, 149);
  --border-color: rgb(150, 131, 131);
  --icon-hover: rgb(194, 13, 139);
  --add-hover:  rgba(255, 255, 255, 0.3);
  --qnt-hover: rgb(255, 246, 246);
  --cart-item: rgb(159, 121, 159);
  --payment-bg: #292525;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
button{
  border: none;
  outline: none;
}
a{
  text-decoration: none;
  color: var(--light-text);
}
html, body{
  width: 100%;
  height: 100%;
}
body{
  background-color: var(--backgroundColor);
  transition:  background-color 0.3s ease;
}


/* @media (prefers-color-scheme: light) {
  body {
  --light-text: rgb(255, 255, 255);
  --backgroundColor: rgb(234, 225, 240);
  --icon: rgb(153, 0, 107);
  --header-bg: rgb(61, 42, 82);
  --product-bg: rgb(135, 121, 155);
  --cart-bg: rgb(132, 112, 170);
  }
} */


[data-theme="light"] {
  --light-text: rgb(255, 255, 255);
  --backgroundColor: rgb(234, 225, 240);
  --icon: rgb(153, 0, 107);
  --header-bg: rgb(61, 42, 82);
  --product-bg: rgb(135, 121, 155);
  --cart-bg: rgb(132, 112, 170);
  --product-text:rgb(61, 49, 73);
  --qnt-text: rgb(255, 255, 255);
  --crsl-hover:  rgb(182, 24, 134);
  --crsl-color: rgb(254, 238, 238);
  --border-color: rgb(150, 131, 131);
  --add-hover:  rgba(220, 215, 218, 0.7);
  --qnt-hover: rgb(131, 106, 158);
  --cart-item: rgb(217, 194, 217);
  --header-bg: rgb(61, 42, 82);
  --payment-bg: #dfc5d9;


}

.toggle-container {
  position: relative;
  width: 2.5em; 
  height: 1.25em; 
  background-color: #555;
  border-radius: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.15em 0em;
}

.toggle-container .color-icon {
  font-size: 0.75em; 

}

.toggle-switch {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left:5%;
  width:1em; 
  height:1em;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.toggle-container.dark .toggle-switch {
  left: 55%; 
  color: rgb(255, 255, 255);
  background-color: rgb(95, 87, 87);
 
}
.toggle-container.dark {
  background-color:  rgb(126, 169, 255);
}
 .sun{
  /* color: rgb(95, 87, 87); */
  color:  rgb(255, 194, 73);
}

.moon{
  color: rgb(255, 219, 112);
}

.toggle-container.dark .moon{
  color: rgb(255, 255, 255);
}


.error-page {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  font-weight: 500;
  font-size: clamp(1em, 1.45vw, 1.5em);
  color: var(--product-text);
}

.error-img {
  width: 100%; 
  max-width: 600px; 
  height: auto; 
  max-height: 80%; 
  object-fit: cover; 
  overflow: hidden; 
}
.error-page a{
  color: rgb(154, 71, 255);
  text-decoration: 2px underline rgb(154, 71, 255);
}

.error-page a:hover{
  color: rgb(182, 123, 255);

}

.home-page{
  color: var(--product-text);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lalezar", system-ui;
  padding: 20px;
  position: relative;
}

.image-block {
  flex: 1;
  border-radius: 10% 0 0  10%;
  background-image: url('/src/assets/stage_enhanced.jpg'); 
  background-size: cover;
  background-position: center;
  mask-image: linear-gradient(to right, black 40%, transparent 100%);
  height: 100%;
}
.slogan {
  align-items: center;
  justify-content: center;
  display: flex;
  overflow-y: hidden; 
  width: 70%;
  max-height: 400px;
  height: clamp( 200px, 25vw,400px);
  position: relative;

}
.text-block {
  flex: 1;
  background-color: rgba(255, 255, 255, 0); 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

h1 {
  font-size: clamp(.75rem, 2.5vw, 2.25rem);
  text-align: left;
  z-index: 0;
}
.shop{
  padding: 1em;
  border-radius: 10px;
  background-color:var( --product-text);
  color: var(--qnt-text);
  font-family: "Lalezar", system-ui;
  cursor: pointer;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%)
}
.shop:hover{
  background-color:var( --qnt-hover);
}

@media (max-width: 768px) {
  .paypal-section{
    /* width: 70%; */
  }
  .home-page {
  width: 100%;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
    
  }
  .slogan {
    flex-direction: column-reverse;
    height: 100%; 
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .image-block {
    width: 100%; 
    height: 100%; 
    border-radius: 0;
    background-size: cover;
    background-repeat: no-repeat;
    mask-image: linear-gradient(to top, black 40%, transparent 100%); 
  }

  .text-block {
    width: 100%; 
    height: fit-content;
    flex:none;
    padding-top: 3em;
  }

  h1 {
    font-size: clamp(1rem, 5vw, 2rem); 
    text-align: center;
    padding: 0 1em;
    height: fit-content;
 
  }
}
.payment-page{
  display: flex;
  width: 100%;
  padding: clamp(2em, 5vw, 3em);
  justify-content: center;
  color: var(--product-text)

}

.payment-page h1{
  font-size: clamp(1.5em, 2vw, 2em);
}
.payment-page h2{
  font-size: clamp(1em, 1.3em, 1.3em);
}
.paypal-section{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width:600px;
  justify-content: space-around;
  background-color: var(--payment-bg);
  border-radius: 10px;
  min-height: 300px;
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.order-infos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* min-width: 300px; */
}
.paypal-infos{
  z-index: 0
}
.paypal-buttons {
  z-index: 0;
}
.payment-item .quantity button{
  display: none;
}

.payment-item .cart-item{
  width: 100%;

  align-items: flex-start;
  background-color: transparent;
  color: var(--product-text)
}
.payment-item .cart-item h2{
  font-size: 1em;
}

.payment-page p{
  
  font-weight: bold;
}

.total{
margin-top: .5em;
margin-bottom: .5em;
}

.payment-page a{
  color: rgb(173, 105, 255);
  text-decoration: 2px underline rgb(154, 71, 255);
}

.payment-page a:hover{
  color: rgb(190, 137, 255);

}

.popup-alert {
  position: fixed;
  bottom: 20%;
  margin-left: 1em;
  margin-right: 1em;
  /* width: clamp(20rem,30vw,30rem); */
  transform: translateX(-50%);
  padding: 15px;
  border-radius: 10px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* font-size: 16px; */
  animation: fadeInOut 5s forwards;
}

.success {
  background-color: rgba(37, 222, 80, 0.4);
  color: var(--product-text);
}
.error {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 17, 0, 0.5);
  color: white;

}

.popup-alert button{
  padding: .5em;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content;
  align-self: flex-end;

}
.popup-alert button:hover{
  background-color: aliceblue;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}